Source: libapache2-mod-querystring2cookie
Section: unknown
Priority: extra
Maintainer: Krux Operations Team <ops@krux.com>
Depends: libapreq2, libapache2-mod-apreq2
Build-Depends: cdbs, debhelper (>= 7), apache2-dev, libapreq2-dev, perl
Standards-Version: 3.8.3
Homepage: https://github.com/jib/mod_querystring2cookie

Package: libapache2-mod-querystring2cookie
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache module to convert QS into a cookie
 Convert query string parameters into a cookie.
